// animation.scss

@keyframes tiltgradient {
  0% { background-position:0 0 }
  50% { background-position:100% 0 }
  100% { background-position:0 0 }
}

@mixin tiltgradient($duration) {
  -webkit-animation: tiltgradient $duration 1;
  -moz-animation:    tiltgradient $duration 1;
  -o-animation:      tiltgradient $duration 1;
  animation:         tiltgradient $duration 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin fadein($duration) {
  -webkit-animation: fadein $duration 1;
  -moz-animation:    fadein $duration 1;
  -o-animation:      fadein $duration 1;
  animation:         fadein $duration 1;
}

.fadein {
  -webkit-animation: fadein .5s 1;
  -moz-animation:    fadein .5s 1;
  -o-animation:      fadein .5s 1;
  animation:         fadein .5s 1;
}

.fadein-1-sec {
  -webkit-animation: fadein 1s 1;
  -moz-animation:    fadein 1s 1;
  -o-animation:      fadein 1s 1;
  animation:         fadein 1s 1;
}

.fadein-1-5-sec {
  -webkit-animation: fadein 1.5s 1;
  -moz-animation:    fadein 1.5s 1;
  -o-animation:      fadein 1.5s 1;
  animation:         fadein 1.5s 1;
}

.fadein-2-sec {
  -webkit-animation: fadein 2s 1;
  -moz-animation:    fadein 2s 1;
  -o-animation:      fadein 2s 1;
  animation:         fadein 2s 1;
}

.fadein-2-5-sec {
  -webkit-animation: fadein 2.5s 1;
  -moz-animation:    fadein 2.5s 1;
  -o-animation:      fadein 2.5s 1;
  animation:         fadein 2.5s 1;
}

.fadein-3-sec {
  -webkit-animation: fadein 2.5s 1;
  -moz-animation:    fadein 2.5s 1;
  -o-animation:      fadein 2.5s 1;
  animation:         fadein 2.5s 1;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeout {
  -webkit-animation: fadeout .5s 1;
  -moz-animation:    fadeout .5s 1;
  -o-animation:      fadeout .5s 1;
  animation:         fadeout .5s 1;
}

@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.grow {
  -webkit-animation: grow 1s ease 1;
  -moz-animation:    grow 1s ease 1;
  -o-animation:      grow 1s ease 1;
  animation:         grow 1s ease 1;
}
