// palette.scss

$clr-sa-cyan:#8CE1CB;
$clr-sa-red:#EE6852;
$clr-sa-navy:#2A4951;
$clr-sa-cream:#FFFDF1;
$clr-sa-gold:#AF9F57;
$clr-sa-pink:#F78D7C;


// styles

$background-color:$clr-sa-red;
$bodyfont-color:$clr-sa-cream;
