// typography.scss

@import "../constants/palette";

@import 'https://fonts.googleapis.com/css?family=Karla|Oswald:400,700|Shrikhand';

// body
$bodyfont: 'Karla', 'Helvetica', 'Tahoma', sans-serif;
$h1font: 'Shrikhand', 'Cooper', sans-serif;
$h2font: 'Oswald', sans-serif;
$bodytext-size: 25px;

// buttons
$button-font-size:$bodytext-size;

// header

$header-giant-size:160px;
$header-biggest-size:111px;
$header-bigger-size:60px;
$header-big-size:50px;
$header-small-size:30px;

// styles

p {
  font-size:$bodytext-size;
  line-height:($bodytext-size)-2px;
}

h1 {
  font-family:$h1font;
  font-weight:normal;
}

h2 {
  font-family:$h2font;
  font-weight:normal;
  font-size:$header-big-size;
  line-height:($header-big-size);
  text-transform:uppercase;
}

.red-head {
  color:$clr-sa-red;
}

h3 {
  font-family:$h1font;
  font-weight:normal;
  font-size:$header-biggest-size;
  line-height:($header-biggest-size)-2px;
}
