// content.scss

@import "../constants/measure";
@import "../constants/palette";
@import "../constants/typography";
@import "../constants/animation";
@import "../vendor/normalize";

// universal
.content {
  margin:($content-spacing)/2;
  position:relative;
  overflow:hidden;
}
.sq-content {
  top:($content-spacing)/2;
  bottom:($content-spacing)/2;
  right:($content-spacing)/2;
  left:($content-spacing)/2;
  position:absolute;
}
.center-y {
  @include vertical-align(absolute);
}


// square
.sq-eighth {
  padding-bottom:$col-eighth;
  position:relative;
}
.sq-quarter {
  padding-bottom:$col-quarter;
  position:relative;
}
.sq-third {
  padding-bottom:$col-third;
  position:relative;
}
.sq-half {
  padding-bottom:$col-half;
  position:relative;
}
.sq-full {
  padding-bottom:$col-full;
  position:relative;
}

// blocks

.block-space {
  padding:$indent;
  @media ($media-sm) {
    padding:$s;
  }
}

.half-block-space {
  padding:$indent/2;
  @media ($media-sm) {
    padding:$s;
  }
}

.block {
  @extend .block-space;
  min-height:$block-height;
  overflow:visible;
  h2 {
    margin:0px;
  }
  h3 {
    margin-top:0px;
    margin-left:0-($s);
  }
}

.teal-row {
  background-color:$clr-sa-cyan;
}

.teal-block {
  background-color:$clr-sa-cyan;
  height:100%;
}
.cream-block {
  background-color:$clr-sa-cream;
  color:$clr-sa-navy;
}
.navy-block {
  background-color:$clr-sa-navy;
}
.red-block {
  background-color:$clr-sa-red;
}
.gold-block {
  background-color:$clr-sa-gold;
}

// special content

.product-display-block {
  @extend .half-block-space;
  min-height:$block-height;
  .product-display {
    h2 {
      font-size:($header-big-size)-6px;
      line-height:($header-big-size)-6px;
    }
    h1 {
      color:$clr-sa-red;
      font-size:$header-big-size;
      line-height:$header-big-size;
    }
  }
}

.key-block {
  $offset:20px;
  @extend .block;
  padding:0;
  text-align:center;
  -webkit-transition: all 0.4s ease;
	-moz-transition:    all 0.4s ease;
	-ms-transition:     all 0.4s ease;
	-o-transition:      all 0.4s ease;
	transition:					all 0.4s ease;
  h1 {
    $key-head-size:$header-bigger-size+27px;
    font-size:$key-head-size;
    line-height:$key-head-size;
    margin:0;
    text-align:center;
  }
  .center-y {
    margin:0 $indent/2;
  }
  .fixed-y {
    $height-delay:.75s;
    height:10vh;
    -webkit-transition: all $height-delay ease;
  	-moz-transition:    all $height-delay ease;
  	-ms-transition:     all $height-delay ease;
  	-o-transition:      all $height-delay ease;
  	transition:					all $height-delay ease;
  }
  p {
    $opacity-delay:1.5s;
    opacity:0;
    $key-body-size:$bodytext-size+5;
    font-size:$key-body-size;
    line-height:$key-body-size;
    text-align:center;
    -webkit-transition: all $opacity-delay ease;
  	-moz-transition:    all $opacity-delay ease;
  	-ms-transition:     all $opacity-delay ease;
  	-o-transition:      all $opacity-delay ease;
  	transition:					all $opacity-delay ease;
  }
  &:hover {
    p {
      opacity:100;
    }
    .fixed-y {
      height:25vh;
    }
  }
}

.circle-row {
  position:relative;
  .circle-brand {
    $brand-size:$block-height+10vh;
    position:absolute;
    background-color:$clr-sa-red;
    background-image:url('../assets/star-logo-white.svg');
    background-size:70% 70%;
    background-repeat:no-repeat;
    border-radius:100%;
    background-position:center 40%;
    z-index:800;
    width:$brand-size;
    height:$brand-size;
    right:$indent;
    @include vertical-align(absolute);
    @extend .hide-md;
  }
}

.office-block {
  padding:0 $s 0 $indent;
  color:$clr-sa-navy;
  h2 {
    font-size:$header-big-size;
    line-height:$header-big-size;
    margin:0px;
    padding-left:$s;
  }
  h1 {
    $office-font-size:$header-biggest-size;
    font-size:$office-font-size;
    line-height:$office-font-size;
    letter-spacing:2px;
    margin:$s 0 0 0;
  }
  p {
    margin:0;
    padding:0px 0px 0px $s;
  }
}
