// hero.scss

@import "../vendor/normalize";
@import "../constants/measure";
@import "../constants/palette";
@import "../constants/typography";
@import "../constants/animation";

.page-hero {
  background-color:$background-color;
  height:$sidenav-height;
  .content {
    padding-top:20vh;
    h2 {
      font-size:$header-bigger-size;
      line-height:$header-bigger-size;
      margin:0px;
    }
    h1 {
      font-size:$header-giant-size;
      line-height:$header-giant-size;
      letter-spacing:8px;
      margin:0px;
    }
  }
}
