// page.scss

@import "../constants/measure";
@import "../constants/palette";
@import "../constants/typography";

body {
  background-color:$background-color;
  font-family:$bodyfont;
  color:$bodyfont-color;
  margin:0;
  padding:0;
}

.scroll {
  overflow-y:auto;
  overflow-x:hidden;
}

.scroll-locked {
  overflow-y:hidden;
  overflow-x:hidden;
}

//sidebar

.side-bar {
  background-color:$background-color;
  width:$sidenav-size;
  height:$sidenav-height;
  float:left;
  position:relative;
  @extend .hide-sm;
  .bar-content {
    width:$sidenav-size;
    height:$sidenav-height;
    position:fixed;
    background-color:$background-color;
    z-index:200;
    .branding {
      background-image:url('../assets/logo-dark-text.svg');
      background-size:90% auto;
      background-position:50% 20%;
      height:$sidenav-height;
      background-repeat:no-repeat;
    }
  }
}

//wrapper settings

.wrapper {
  width:100%;
  min-height:100vh;
}
.page-content {
  width:(100%)-$sidenav-size;
  float:left;
  padding-bottom:$footer-height;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  @media ($media-sm) {
    width:100%;
  }
}
